@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        <a class="nav-link text-dark" asp-area="" asp-controller="ImageUrls" asp-action="Index">Images</a>
    </p>
</div>
